@tailwind base;
@tailwind components;
@tailwind utilities;

:root[nuxt-color-mode='light'] {
    --primary-color: #fff;
    --secondary-color: #333;
    --tertiary-color: #aeaeae8c;
    --default-text: #ffffff;
    --info-text:#00ccff;
    --danger-text:#ff0000;
    /* --side-nav:#d4d4d48c; */
}

:root[nuxt-color-mode='dark'] {
    --primary-color: #333;
    --secondary-color: #fff;
    --tertiary-color: #2b2b2b;
    --default-text: #353740;
    --info-text:#00ccff;
    --danger-text:#ff0000;
    /* --side-nav:var(--primary-color); */
}

.primary-color {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.tertiary-color {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.default-text {
    color: var(--default-text);
}

.info-text {
    color: var(--info-text);
}

.danger-text {
    color: var(--danger-text);
}