mosquitto/data/mosquitto.db
homeassistant/config/.HA_VERSION
homeassistant/config/home-assistant_v2.db
homeassistant/config/home-assistant.log
homeassistant/config/home-assistant.log.fault
homeassistant/config/home-assistant.log.1
homeassistant/config/.storage/auth
homeassistant/config/.storage/auth_provider.homeassistant
homeassistant/config/.storage/core.config
homeassistant/config/.storage/core.config_entries
homeassistant/config/.storage/http
homeassistant/config/.storage/http.auth
homeassistant/config/.storage/person
homeassistant/config/.storage/repairs.issue_registry
homeassistant/config/.storage/onboarding
homeassistant/config/.storage/core.uuid
homeassistant/config/.storage/core.restore_state
homeassistant/config/.storage/core.entity_registry
homeassistant/config/.storage/core.device_registry
homeassistant/config/.storage/core.area_registry
homeassistant/config/.storage/core.analytics
homeassistant/config/home-assistant_v2.db-wal
homeassistant/config/home-assistant_v2.db-shm
homeassistant/config/secrets.yaml