# mosquitto
mosquitto/data/mosquitto.db
# homeassistant
homeassistant/config/.cloud/*
homeassistant/config/.storage/*
homeassistant/config/.deps/*
homeassistant/config/.tts/*
homeassistant/config/.HA_VERSION
homeassistant/config/home-assistant_v2.db
homeassistant/config/home-assistant.log
homeassistant/config/home-assistant.log.fault
homeassistant/config/home-assistant.log.1
homeassistant/config/home-assistant_v2.db-wal
homeassistant/config/home-assistant_v2.db-shm
homeassistant/config/secrets.yaml
homeassistant/config/image/*

# homeassistant custom components
homeassistant/config/custom_components/hacs/*